html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family:'Merriweather', serif;;
    background-color: #F5F5DC;
}

/*Pequeño hack... 1rem = 10px */

header{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    background-color: #F5F5DC;
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    color: #333333;
    text-shadow: 1px 1px #CCCCCC;
    text-align: center;
}

footer{
    background-color: #F5F5DC;
    padding: 1rem;
}

@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
    }
}

@media (min-width: 600px) {
    img {
      width: 100%; 
    }  
}
@media (min-width: 300px) {
    img {
      width: 100%; 
    }  
}

@media (min-width: 800px) {
    img {
      width: 100%; 
    } 
}

@media (min-width: 950px) {
    img {
        display: flex;
        width: 100%; 
        justify-content: center;
    } 
}

.linkinicio{
    color:black
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

/*Color de fondo la barra de busqueda.*/
.nav-bg{
    background-color: #F5F5DC;
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.futer2{
    text-align: center;
    color: #333333;
    text-shadow: 1px 1px #CCCCCC;
}

.navegacion-principal a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
}
.navegacion-principal a:hover{
    background-color: white;
    color: black;
}

.ayudanos{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    padding: 10px;
}

.pagina3{
    display: flex;
    color: white;
    text-decoration: dashed;
    font-size: 1rem;
    padding: 1rem;
}

.pagina32{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.futer{
    text-align: left;
    color: #333333;
    text-shadow: 1px 1px #CCCCCC;
}

.titulos{
    line-height: 100%;
    font-size: 110%;
    text-align: justify;
}

.mision{
    padding: 20px;
}

/*Imagenes*/

.imagenes{
    display: flex;
    width:10rem; 
    height: auto; 
    max-width: 100%;
}

.imagenn{
    text-align: center;
    padding: 20px;
    width: 100%; 
    height: auto; 
    max-width: 100%;
}

.img1{
    display: flex;
    margin: 10px auto;
    width: 70%; 
    max-width: 100%;

}

/*Pagina 2*/

.imgmision{
    text-align: center;
    width: 100%; 
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 10px auto;
}

.imgvision{
    margin: 10px auto;
    display: flex;
    width: 60rem; 
    height: auto; 
    max-width: 100%;
}

.imgqsomos{
        margin: 10px auto;
        width: 50rem; 
        height: auto; 
        max-width: 100%;  
}

.prueba{
    margin: 10px auto;
    width: 50rem; 
    height: auto; 
    max-width: 100%;

}

.prueba1{
    display: flex;
    margin: 10px auto;
    padding: 2%;
    width: 50rem; 
    height: auto; 
    max-width: 100%;
}

.innput{
    float:left;
    margin-bottom: 10px;
}

.labbel{
    clear: both;
    float:left;
    width: 150px;
}

.error-control{
    border:1px solid red;
}

label.error{
    color:red;
    width:250px;
    font-size: 0.8em;
    margin-top:-5px;
    margin-bottom: 10px;
}

#enviar{
    clear: both;
    width: 150px;
}

#Limpiar{
    clear: both;
    width: 150px;
}

.notificaciones{
    padding: 1rem;
}

.botonesformulario{
    color: black;
    background-color: black;
}
